<style type="text/css">
  h2,
  p {
    margin: 0 0 10px;
  }
</style>

<container>
  <h2> You have a message from <%= name %>
  </h2>
  <p>
    <%= message %>
  </p>
  <p>
    email: <%= email %>
  </p>

</container>